
        </div><!-- /.container -->
        <footer class="footer">
          <div class="container">
            <p class="text-muted">&copy;RentApartman 2021| <a href="/RentApartman/apartments">Naslovna</a></p>
          </div>
        </footer>
        <!-- Bootstrap JS CDN -->
    </body>
</html>
